<style>
.custom-navbar {
  background-color: #c5e0ec !important;
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #212529 !important; 
  font-weight: bold;
}
</style>

<nav class="navbar navbar-expand-lg custom-navbar mb-3 justify-content-center">
  <%= link_to "Lion Help!", services_path, class: "navbar-brand" %>
  <ul class="navbar-nav">
    <li class="nav-item"><%= link_to 'Services', services_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Reviews', reviews_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Create New Service', new_service_path, class: 'nav-link' %></li>
    <% if session[:user_id] %>
      <li class="nav-item">
        <%= link_to "My Profile",profile_path, class: "nav-link" %>

      </li>
    <% end %>
    <li class="nav-item"><%= link_to 'Inbox', inbox_service_requests_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Logout', logout_path, class: 'nav-link' %></li>
  </ul>
</nav>
